<configuration>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file value="logs/error.log"/>
        <appendToFile>true</appendToFile>
        <maxSizeRollBackups>5</maxSizeRollBackups>
        <maximumFileSize>5MB</maximumFileSize>
        <rollingStyle>size</rollingStyle>
        <staticLogFileName>1</staticLogFileName>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPRING_LOG" class="ch.qos.logback.core.FileAppender">
        <file value="logs/spring.log"/>
        <appendToFile>true</appendToFile>
        <maxSizeRollBackups>5</maxSizeRollBackups>
        <maximumFileSize>5MB</maximumFileSize>
        <rollingStyle>size</rollingStyle>
        <staticLogFileName>1</staticLogFileName>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file value="logs/app.log"/>
        <appendToFile>true</appendToFile>
        <maxSizeRollBackups>5</maxSizeRollBackups>
        <maximumFileSize>5MB</maximumFileSize>
        <rollingStyle>size</rollingStyle>
        <staticLogFileName>1</staticLogFileName>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONTROLLER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file value="logs/controller.log"/>
        <appendToFile>true</appendToFile>
        <maxSizeRollBackups>5</maxSizeRollBackups>
        <maximumFileSize>5MB</maximumFileSize>
        <rollingStyle>size</rollingStyle>
        <staticLogFileName>1</staticLogFileName>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>


    <root level="error">
        <appender-ref ref="ERROR_LOG"/>
    </root>

    <logger name="com.cengha.divider" level="all" additivity="false">
        <appender-ref ref="APP_LOG" />
    </logger>

    <logger name="org.springframework" level="all" additivity="false">
        <appender-ref ref="SPRING_LOG" />
    </logger>

    <logger name="org.cengha.divider.controller" level="all" additivity="false">
        <appender-ref ref="CONTROLLER_LOG" />
    </logger>

</configuration>